.card5>img{
    border-radius: 10px;
}
.card7>p{
    font:500 20px sans-serif;
}
@media screen and (max-width: 700px) {
    .cards {
      grid-template-columns: repeat(2, 200px);
    }
  }
  @media screen and (max-width: 400px) {
    .cards {
      grid-template-columns: repeat(1, 200px);
    }
  }