.c-wrapper{
    /* border: 2px solid; */
    background-color: whitesmoke;
    padding-top: 30px;
    margin-top: 1.5rem;
}
.c-caption{
    text-align: center;
    font: 500 18px sans-serif;
    /* margin: 20px 0; */
}
.c-container{  
    width: 80%;
    /* border: 2px solid red; */
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    /* gap:10rem; */
}
.c-caption>p{
    font: 600 20px sans-serif;
    margin: 5px 0;
}
.c-caption>p::before{
    content: "__";
}
.c-caption>p::after{
    content: "__";
}
.contact_left{
    /* border: 2px solid teal; */
    padding: 10px 30px ;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);  
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.contact_left>h2{
    text-align: center;
}
.contact-i{
    margin: 30px 0;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    position: relative;
}
.contact-i::before{
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    border: 2px solid #fff;
    visibility: hidden;
    width: 0;
    transition: all 500ms ease-in;
}
.contact-i:hover::before{
    width: 100%;
    border-radius: 50%;
    visibility: visible;
}
.contact_right{
    /* border: 1px solid; */
    /* flex: 1; */
    width: 50%;

}
.contact_right>form{
    /* border: 1px solid; */
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction:column ;
}
.contact_right>form>fieldset{
    padding: 2px 5px;
    border: 0;
}
.contact_right>form>fieldset:nth-child(1){
    height: 20%;
}
.contact_right>form>fieldset:nth-child(2){
    height: 20%;
}
.contact_right>form>fieldset:nth-child(3){
    height: 40%;
}
.contact_right>form>fieldset>input{
    width: 100%;
    height: 100%;
    font: 16px sans-serif;
}
.contact_right>form>input{
    width: 20%;
    margin: 10px 5px;
    padding: 5px;
    font: 600 18px sans-serif;
    border: 0;
    background-color: teal;
    color: #fff;
    border-radius: 5px;
}
