.n-wrapper{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    border-bottom: 2px solid rgba(62, 59, 59, 0.697);
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo>h2{
    margin: auto;
    /* width: 90px; */
    /* border: 2px dashed green; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
} 
.resume-btn{
    text-decoration: none;
    color: black;
}

.n-rightSide{
    flex: 1;
}
.n-list >ul{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    list-style: none;
}
.n-list>ul>a>li{
    font: 500 20px sans-serif ;
    cursor: pointer;
    padding: 5px 1rem;
    border-radius: 20px;
}
.n-list>ul>a>li:hover{
    background-color: rgba(0, 128, 128, 0.689);
    color: #fff;
    /* box-shadow: 0 1px 7px 10px teal; */
}
/* --hamburger-- */
.hamburger{
    display: none;
}
@media screen and (max-width:700px) {
    .n-list{
        display: none;
    }
    .hamburger{
        display: block;
    }
}