#github-stats {
    padding: 70px 0;
}

.github-stats-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: 50px;
    grid-gap: 40px;
}

.github-stats-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.github-stat {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.github-stat img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #de354c);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 700;
    margin-bottom: 20px;
}
.container{
  text-align: center;
}


.github-stat:hover img {
    transform: scale(1.1);
}